pdbconverter
============

_PdbConverter_ is a tool for converting PalmOS PDB files into more common file formats.

![Screenshot](./img/screenshot.png)

The source code can be found at [GitHub](https://github.com/shred/pdbconverter) and is distributed under the terms of [GNU General Public License Version 3](http://www.gnu.org/licenses/gpl-3.0.html).

Usage
-----

Please install Java, then download the latest precompiled jar from [GitHub](https://github.com/shred/pdbconverter/releases/) and run it:

```
java -jar pdbconverter.jar --gui
```

There is also a command line interface. You will get help if you omit the `--gui` option.

Installation
------------

_pdbconverter_ is not just a conversion tool, but also serves as a library for reading PalmOS pdb files. To use it your project, just add this to your `pom.xml`:

```xml
<dependency>
  <groupId>${project.groupId}</groupId>
  <artifactId>${project.artifactId}</artifactId>
  <version>${project.version}</version>
</dependency>
```
